<!DOCTYPE html>
<html>
  <head>
    <h1>Technical Home School</h1>
    <b>Ready to fry in technology </b><br><br>
  </head>

<body bgcolor="skyblue">
 
<h2>Registration Form</h2>
<form action="/action_page.php">
<label for="name"> <b>Enter your Name:</b> </label>
<input type="text" id="name" name="name"> <br><br>
<label for="email"> <b>Enter your Email:</b> </label> 
<input type="email" id="email" name="email"> <br><br>
<label for="number"> <b>Enter Mobile No.:</b> </label> 
<input type="text" id="number" name="number"> <br><br>
<label for="name"> <b>Select your Course:</b> </label> 
<input type="text" id="name" name="name"> <br><br>

<input type="submit" value="Submit">
</form>
</body>
</html>
